/.idea/
package-lock.json
node_modules/
/helpers/structs.txt
/helpers/rightParts.txt
/helpers/leftParts.txt
SpawnActorPrototypes
/Stalker2/Content/
raw/
steamworkshop/
/.env
workshopitem.vdf
GameLite
/src/.l1.cache.json
/src/.l2.cache.json
/src/.l3.cache.json
